repository: operator
upstream: tektoncd/operator
components:
- operator
- webhook
- proxy
# - bundle
# - index
tekton:
  watched-sources: '"upstream/***".pathChanged() || ".konflux/patches/***".pathChanged() || ".konflux/rpms/***".pathChanged()'
github:
  update-sources: |
    - name: fetch-payload
      run: |
        if [[ -z $(git status --porcelain --untracked-files=no) ]]; then
          echo "No change, do nothing"
          exit 0
        fi
        # Operator SDK
        export OPERATOR_SDK_DL_URL=https://github.com/operator-framework/operator-sdk/releases/download/v1.37.0/operator-sdk_linux_amd64
        curl -LO ${OPERATOR_SDK_DL_URL}
        chmod +x operator-sdk_linux_amd64 && sudo mv operator-sdk_linux_amd64 /usr/local/bin/operator-sdk

        operator-sdk version

        # Python with requirements (yaml here)
        # We could migrate to go...
        python3 -m venv sync-sources
        source sync-sources/bin/activate
        pip3 install -r requirements.txt

        # Update operator's payload and stuff
        make update-payload-and-version
        pushd upstream
        rm -fR cmd/openshift/operator/kodata operatorhub
        git checkout HEAD .
        popd
branches:
- version: next
  upstream: main
