name: pac-downstream
upstream: openshift-pipelines/pipelines-as-code
components:
  - name: controller
  - name: webhook
  - name: watcher
  - name: cli
    nudges:
      - operator-{{hyphenize .Version.Version}}-bundle
      - tektoncd-cli-{{hyphenize .Version.Version}}-tkn
branches:
  - name: release-v1.20.x
    upstream: release-v0.37.x
    versions:
      - "1.20"
