name: Sync Organization Labels
on:
  workflow_dispatch:
    inputs:
      release:
        description: 'Select Release'
        required: false
        default: 'next'
        type: choice
        options:
          - next
          - "1.22"
permissions:
  contents: read
  issues: write
  repository-projects: write
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Update Version
        run: |
          ./hack/sync-upstream-versions.sh
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

